@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>
    Developer Learning Bank is an (ASP.NET MVC application) ATM simulation.
    I have decided to develop this specific application because its a system everybody is familiar with,
    and an iseal project for me to use MVC principles.
<p/>
<p>
    As a self taught developer, developing this application was a great learning curve for me as i was able to make use of-
    <ul>
        <li>Designs with Bootstrap</li>
        <li>Database Objects and Entity Framework</li>
        <li>Owin and Katana</li>
        <li>Local Authentication</li>
        <li>Third party authentication</li>
        <li>ASP.NET Identity</li>
        <li>Role based authorization</li>
        <li>Unit Testing</li>
        <li>Mocking Dependencies</li>
        <li>TDD</li>
        <li>Deploying to AppHarbor</li>
    </ul>
</p>

