@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>Withdrawal
        </a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Quick Cash R100
        </a>
        <a href="@Url.Action("Details","CheckingAccount")" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-question-sign"></span>Check Balance
        </a>
    </div>

    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-print"></span>Print Statement
        </a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-transfer"></span>Transfare Funds
        </a>
        <a href="@Url.Action("Deposit","Transaction", new {checkingAccountId = ViewBag.CheckingAccount })" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>Deposit
        </a>
    </div> 


</div>

